$blue-color: rgb(0, 0, 153);
$warning-orange: rgb(221, 118, 0);
$alert-red: red;
$success-green: green;

$main-blue: #0097E6;
$shop-orange: #F59300;
$shop-green: #44BD32;
$web-black: #292D34;
$card-bkg: #F4F8FA;
$card-red: #F94A63;