.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.flex-row-hero {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.full-width {
    width: 100%;
}

.container {
    width: 800px;
    padding-bottom: 80px;
    @media only screen and (max-width: 1440px){
        width: 640px;
    }
    @media only screen and (max-width: 1100px){
        width: 560px;
        margin-left: 120px;
    }
    @media only screen and (max-width: 450px){
        width: 320px;
    }
    @media only screen and (max-width: 350px){
        width: 280px;
    }
}

.col1 {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.col2 {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.snack-col {
    width: 80px;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.center-left {
    justify-content: flex-start;
    align-items: center;
}

.column {
    flex-flow: column;
}

.bottom-end {
    align-items: flex-end;
}

.half {
    width: 50%;
}

pre {
    margin: 24px 0;
    background-color: #2f495e;
    white-space: nowrap;
    overflow: auto;
    margin: 0;
    border-radius: 5px;
    code {
        margin: 24px !important;
        .wrapper {
            margin-left: 24px;
        }
    }
}

.additional-image {
    margin: 40px 0;
    background-image: url(https://alexborecky.com/images/productDetail.png);
    background-position: center;
    background-size: cover;
    height: 440px !important;
  }

  .underline {
    height: 6px;
    width: 120px;
    opacity: .8;
    background-color: $blue-color;
    border-radius: 100px;
}

.snippet {
    background-color: rgba($color: lightgray, $alpha: .2);
    border-radius: 10px;
    border: 2px lightgray solid;
}

.first-layer {
    margin: 0;
}
.second-layer {
    margin: 0 24px;
}

.third-layer {
    margin: 0 48px;
}

.fourth-layer {
    margin: 0 72px;
}